<!DOCTYPE html>
<html>
<body>

<div id="container" style="font-family:'Trebuchet MS', Helvetica, sans-serif">

    {% include "header.html" %}

    {% include "menu.html" %}

    <div id="content" style="background-color:#ffffff;float:left;padding:10px 10px">
         <small>>>File Upload</small><br><br>
         Choose a file or files to upload, then submit the file to the patient's record
	    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
             <input type="hidden" name="oid" value="{{ oid }}">
             <input type="hidden" name="pid" value="{{ pid }}">
             <div><input type="file" name="userfile" size=40></div>
      	   <div><input type="submit" value="Submit File"></div>
	    </form>
     </div>

    {% include "footer.html" %}

</div>
 
</body>
</html>