{% autoescape on %}
<!DOCTYPE html>
<html>
<body>

<div id="container" style="font-family:'Trebuchet MS', Helvetica, sans-serif">

    {% include "header.html" %}

    {% include "menu.html" %}

    <div id="content" style="background-color:#ffffff;float:left;padding:10px 10px">
        <small>>>File Details</small><br><br>
        Contents of File {{ file_name }}:<br><br>
        <table border="0">
        {% for lineindex in filecontents|dictsort %}
            <tr>
              <td>{{ lineindex[0] }}</td>
            {% if lineindex[1]['linelabel'] %}
              <td>{{ lineindex[1]['linelabel'] }}</td>
            {% endif %}
            {% if lineindex[1]['linevalue'] %}
              <td>{{ lineindex[1]['linevalue'] }}</td>
            {% endif %}

            </tr>
        {% endfor %}
        </table>
    </div>
    
    {% include "footer.html" %}

</div>
 
</body>
</html>
{% endautoescape %}