<!DOCTYPE html>
<html>
<body>

<div id="container" style="font-family:'Trebuchet MS', Helvetica, sans-serif">
   <div id="header" style="background-color:#f4f4f4;color:#ff0000;padding:10px">
   <b>take&hearts;</b>
        
   </div>

<div id="menu" style="background-color:#f4f4f4;width:100px;float:left;padding:10px 10px">
<b>Menu</b><br>
&nbsp;Menu Item 1<br>
&nbsp;Menu Item 2<br>
&nbsp;Menu Item 3</div>

<div id="content" style="background-color:#ffffff;float:left;padding:10px 10px">
Content goes here</div>

<div id="footer" style="background-color:#f4f4f4;color:#c1c1c1;clear:both;text-align:center;">
&copy; 2014 simplyright | About Us | Terms of Service | Privacy Policy | Contact us | Send Feedback</div>

</div>
 
</body>
</html>
