<!DOCTYPE html>
<html>
<body>

<div id="container" style="font-family:'Trebuchet MS', Helvetica, sans-serif">

    {% include "header.html" %}

    {% include "menu.html" %}

    <div id="content" style="background-color:#ffffff;float:left;padding:10px 10px">

        <small>>>Overview</small><br><br>
        Enter patient full or partial first or last name<br>
        to search for existing patient<br>
    
        <form name="search" action="/" method="post">
            <input type="text" name="searchtext"><br>
            <input type="submit" value="Search for Existing Patient"><br>
        </form>

        <br>
        Create a new patient record<br>
        <form name="create" action="/patientdetail" method="get">
            <input type="submit" value="Create New Patient"><br>
        </form>
    
    </div>

    {% include "footer.html" %}


</div>
 
</body>
</html>

