<!DOCTYPE html>
{% autoescape true %}
<html>
<body>

<div id="container" style="font-family:'Trebuchet MS', Helvetica, sans-serif">

    {% include "header.html" %}

    {% include "menu.html" %}

    <div id="content" style="background-color:#ffffff;float:left;padding:10px 10px">

        <small>>>Paient Search Results</small><br><br>
        The following patients matched your search criteria:<br><br>
        {% for patient in patients %}
            <a href="/patientdetail?oid={{ patient.owner_id }}&pid={{ patient.patient_id }}">
            {{ patient.first_name }} {{ patient.last_name }}</a><br>
        {% endfor %}
    </div>

    {% include "footer.html" %}

</div>
 
</body>
</html>
{% endautoescape %}
